@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Rubik', sans-serif;
}

header {
  /* background: linear-gradient(to right, rgba(186, 225, 186, 0.392), rgba(186, 225, 186, 0.569) 50%, rgba(0, 128, 0, 0.273)); */
  padding: 20px;
  /* padding-bottom: 20px; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.38);
  box-shadow: 0.5px 0.5px 3px 0px rgba(128, 128, 128, 0.38);
  /* border: 3px solid chartreuse; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid blue; */
}

nav img {
  border-radius: 20px;
  width: 70%;
  /* border: 1px solid grey; */
  box-shadow: 4px 6px 3px 0px rgba(128, 128, 128, 0.38),
   4px 7px 9px 0px rgba(128, 128, 128, 0.38);
  /* height: 100px; */
}

.navdiv2 {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.banner h1:nth-child(1) {
  font-size: 30px;
  letter-spacing: 0px;
  border-bottom: 2px solid black;
}

.banner h1:nth-child(2) {
  padding-top: 10px;
}

main {
  padding: 20px;
  /* border: 3px solid violet; */
  /* background: linear-gradient(rgba(186, 234, 186, 0.195) 80%, rgb(134, 188, 134)); */
}
.sec1 {
  width: 100%;
  position: relative;
  box-shadow: -4px 10px 9px 0px rgba(128, 128, 128, 0.38);
  margin-bottom: 10px;
}

.absolute {
  /* position: initial;
  right: 0;
  top: 0; */
  /* padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px; */
  width: 100%;
  background: white;
  box-shadow: none;
}

.absolute img {
  display: none;
}

.home {
  width: 100%;
  /* height: 50%; */
  object-fit: fill;
}

.sec2 .div1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.sec2 div:nth-child(2) {
  margin-bottom: 30px;
}

.sec2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* border: 3px solid green; */
}

.title {
  font-size: 30px;
  padding: 15px 0;
  margin-left: 10px;
}

.absolute ul {
  font-size: large;
  list-style-type: none
}

.absolute ul li {
  padding-bottom: 5px;
  margin-left: 10px;
}

.sec3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 3px solid magenta; */
}

.sec3 .div1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 3px solid red; */
}

.sec3 img {
  display: none;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.col .div1b {
  display: flex;
  flex-direction: row;
}

.col .div1b img {
  width: 100px;
  height: 60px;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

.sec2 .div1 .div1a {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec2 .div1 .div1a div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.border {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.opt {
  display: none;
}

@media screen and (min-width: 567px) {
  header {
    padding: 20px 40px;
    /* padding-bottom: 20px;  */
    /* border: 3px solid chartreuse; */
  }

  .navdiv2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
  }
  
  .banner h1:nth-child(2) {
    padding-top: 10px;
  }
  
  main {
    padding: 40px;
    /* border: 3px solid violet; */
  }
  .sec1 {
    width: 100%;
    position: relative;
    box-shadow: -4px 10px 9px 0px rgba(128, 128, 128, 0.38);
    margin-bottom: 10px;
  }
  
  .absolute {
    position: normal;
    right: 0;
    top: 0;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding: 10px;
    width: 100%;
    background: white;
    box-shadow: none;
  }
  
  .absolute img {
    display: none;
  }
  
  .sec2 .div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }
  
  .sec2 div:nth-child(2) {
    margin-bottom: 30px;
  }
  
  .sec2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    /* border: 3px solid green; */
  }
  
  .title {
    font-size: 40px;
    padding: 15px 0;
  }
  
  .absolute ul {
    font-size: larger;
    list-style-type: none
  }
  
  .absolute ul li {
    padding-bottom: 5px;
  }
  
  .sec3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 3px solid magenta; */
  }
  
  .sec3 .div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 3px solid red; */
  }
  
  .sec3 img {
    display: none;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
   .col .div1b {
    display: flex;
    flex-direction: row;
  }

  .col .div1b img {
    width: 100px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 3px solid blue; */
  }
  nav img {
    border-radius: 20px;
    width: 100%;
    /* border: 1px solid grey; */
    box-shadow: 4px 6px 3px 0px rgba(128, 128, 128, 0.38),
     4px 7px 9px 0px rgba(128, 128, 128, 0.38);
    /* height: 100px; */
  }
  
  .banner h1:nth-child(1) {
    font-size: 55px;
    letter-spacing: 5px;
    border-bottom: 2px solid black;
  }
  
  .banner h1:nth-child(2) {
    padding-top: 10px;
  }
  
  main {
    padding: 40px;
    /* border: 3px solid violet; */
    word-spacing: 5px;
  }
  .sec1 {
    width: 100%;
    position: relative;
    box-shadow: none;
  }
  
  .absolute {
    position: absolute;
    right: 0;
    top: 70%;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    width: 40%;
    background: white;
    box-shadow: -7px 10px 9px 0px rgba(128, 128, 128, 0.38);
  }

  .absolute img {
    display: initial;
    width: 100%;
    height: 60%;
  }
  
  .sec2 .div1 {
    width: 53%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }
  
  .sec2 {
    display: flex;
    flex-direction: row;
    align-items: end;
    /* border: 3px solid green; */
  }
  
  .sec3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 3px solid magenta; */
    padding: 10px;
    box-shadow: -7px 10px 9px 0px rgba(128, 128, 128, 0.38);
  }
  
  .sec3 .div1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 3px solid red; */
    border-right: 1px solid rgba(128, 128, 128, 0.311);
    padding-right: 20px;
  }

  .sec3 img {
    display: initial;
    position: relative;
    height: 300px;
  }

  .bold1 {
    text-align: center;
  }

  .opt {
    display: initial;
    border: 0.5px solid rgba(128, 128, 128, 0.072);
    /* box-shadow: -1px 0 3px 0 rgba(128, 128, 128, 0.587); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  .opt img {
    width: 90%;
  }
}
/* 
@media  screen and (min-width: ) {
  
} */

@media screen and (min-width: 990px) {  
  nav img {
    width: 100%;
  }

  .opt img {
    width: 75%;
  }
  
  .banner h1:nth-child(1) {
    font-size: 70px;
    letter-spacing: 10px;
    border-bottom: 2px solid black;
  }
  
  main {
    padding: 40px;
    /* border: 3px solid violet; */
  }
  
  .sec2 .div1 {
    width: 55%;
  }
  
  .sec2 div:nth-child(2) {
    margin-bottom: 30px;
  }
  
  .title {
    font-size: 50px;
    padding: 15px 0;
  }
  
  .sec3 .div1 {
    width: 55%;
  }

  .sec3 .phone {
    display: initial;
    position: relative;
    right: 50%;
  }
}

@media  screen and (min-width: 1024px) {
  .opt img {
    width: 90%;
  }
}